.subtitulo{ font-size:1.3rem; margin-bottom:1rem }
ul{ list-style:disc; }

@media screen and (min-width: 768px) {
    .subtitulo{ font-size:1.5rem; margin-bottom:2rem }
}

.titulo-principal-unit{
    color: #1E4566;
    font-weight: bold;
    position: absolute;
    top: 7rem;
    font-size: 2rem;
    padding-left: 2rem;
}
.caja{ padding:2rem }

.titulo-principal-unit span{ display:block; font-weight:normal; }

.separador {
    background: url(../images/PCSP24-_separador-contenido.png) no-repeat center / 100%;
    height: 3rem;
    border-top: 3rem;
    width: 80%;
    max-width: 55rem;
    margin: 2rem auto;
}

.separador-con {
    background: url(../images/PCSP24-_separador-interior-actividad.png) no-repeat center / 100%;
    height: 3rem;
    border-top: 3rem;
    width: 80%;
    max-width: 55rem;
    margin: 2rem auto;
}

.fondo-rosa{ background:#EDEDFC; position:relative; padding:.5rem 1rem; padding-right:4.3rem }
.fondo-blanco{ 
	border-bottom: .15rem solid;
	padding: 1rem 1rem 1rem 2rem;
    margin-bottom: 1rem;
}

.color-3{ color: #FF811A;
    margin-right: .5rem; }
.percent {
    position: absolute;
    right: 0;
    width: 4rem;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background: #81649E;
    color: #fff;
    justify-content: center;
    font-weight: bold;
    border-left: .3rem solid #fff;
}
.temario{ 
	color: #1E4566;
    max-width: 52rem;
    margin: 3rem auto;
}
.temario p{ margin-bottom:0; }

.titulos-encab{ 
    background: url(../images/modulo1/modulo-A.png) no-repeat 0 center / auto 100%, url(../images/modulo1/modulo-b.png) no-repeat right center / auto 100% #FFBA6A;
    width: 100%;
    text-align: center;
    margin: 0 auto 2rem;
    max-width: 17rem;
    padding: .5rem 0;
    border-radius: 3rem 0 0 3rem; }


.btn_lecturaf{ background:#17529C; color:#fff; border:1px solid; }

.espaciov{ margin:3rem 0; border:none; }

.actividad-separador{ 
    background: linear-gradient(180deg, #e7eff7 0%, #fff 70%);

    /*background: url(../images/PCSP24-_separador-contenido.png) no-repeat center / 100%;*/
 }
 .inicio-act{
    background: url(../images/separador-seccion-actividad.png) no-repeat center / auto 100%;
    border-top: none;
    height: 6rem;
    width: 80%;
    margin: 0 auto;
 }
.contenedor-botones{ max-width:66rem; margin:0 auto; }
.btn-modales {
    background: linear-gradient(90deg, rgba(129, 100, 158, 1) 50%, rgba(30, 69, 102, 1) 100%);
    color: #FFFFFF;
    padding: 1rem .5rem;
    border-radius: 4px;
    font-weight: normal;
    text-transform: none;
    width: 32%;
    border: .1rem solid transparent;
}

.btn-modales:hover{ color:#1E4566; background:#fff; border: .1rem solid #1E4566; }

.actividad-enc{ 
    background: #EDEDFC;
    color: #1E4566;
    border-bottom: 1px solid #1E4566;
    margin-bottom: 2rem;
    font-weight: bold;
    padding: .5rem 1rem .5rem 8rem;
    position: relative;
}
.actividad-enc div {
    display: flex;
    background: #1E4566;
    color: #fff;
    padding: .3rem 1rem;
    border-left: .6rem solid #FF811A;
    margin-right: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    align-items: center;
}
.enlace-icono{
    background: url(../images/modulo1/icono-descarga.png) no-repeat 0 / 1.5rem;
    padding-left: 2rem;
}
@media screen and (max-width: 1199px){.btn-modales{ width:48% }}

@media screen and (max-width: 767px){
    .titulo-principal-unit{        
    
    }

    .separador {
        width: 100%;
        margin: 1rem 0;
    }

    .separador-con { width: 100%;
        margin: 1rem 0;}

    .subtitulo{ font-size:1.3rem; margin-bottom:1rem }

    .fondo-degradado{ padding:1rem }

    .inicio-act{
    background: url(../images/separador-seccion-actividad-r.png) no-repeat center / auto 100%;}

}

/*termina principal*/