ul {
    list-style: disc;
}

.subtitulo {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.8
}

@media screen and (max-width: 767px) {
    .subtitulo {
        font-size: 1.3rem !important;
        margin-bottom: 1rem;
    }
}

.titulo-principal-unit {
    color: #1E4566;
    font-weight: bold;
    position: absolute;
    top: 6rem;
    font-size: 2.5rem;
    padding-left: 2rem;
    line-height: 1.8;
}

.caja {
    padding: 2rem
}

.titulo-principal-unit span {
    display: block;
    font-weight: normal;
}

.separador {
    background: url(../images/PCSP24-_separador-contenido.png) no-repeat center / 100%;
    height: 3rem;
    border-top: 3rem;
    width: 80%;
    max-width: 55rem;
    margin: 1rem auto;
}

/*
.separador-con {
    background: url(../images/PCSP24-_separador-interior-actividad.png) no-repeat center / 100%;
    height: 3rem;
    border-top: 3rem;
    width: 80%;
    max-width: 55rem;
    margin: 1rem auto;
}*/
.espacio-fin {
    margin-top: 2rem;
}

.fondo-rosa {
    background: #EDEDFC;
    position: relative;
    padding: .5rem 1rem;
    padding-right: 4.3rem;
    border-radius: .5rem
}

.fondo-blanco {
    border-bottom: .15rem solid;
    padding: 1rem 1rem 1rem 2rem;
    margin-bottom: 1rem;
}

.color-3 {
    color: #FF811A;
    margin-right: .5rem;
}

.percent {
    position: absolute;
    right: 0;
    width: 4rem;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background: #fff;
    color: #fff;
    justify-content: center;
    font-weight: bold;
    border-left: .3rem solid #fff;
}

.percent div {
    background: #81649E;
    justify-content: center;
    border-radius: .5rem;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}

.temario {
    color: #1E4566;
    max-width: 52rem;
    margin: 3rem auto 0;
}

.temario p {
    margin-bottom: 0;
}

.titulos-encab {
    font-weight: bold;
}

.titulos-encab span {
    display: block;
}

.referencias p {
    text-indent: -2rem;
    padding-left: 2rem;
}

.titulos-encab {
    background: url(../images/modulo1/modulo-A.png) no-repeat 0 center / auto 100%, url(../images/modulo1/modulo-b.png) no-repeat right center / auto 100% #FFBA6A;
    width: 100%;
    text-align: center;
    margin: 0 auto 2rem;
    max-width: 23rem;
    padding: .5rem 0;
    border-radius: 3rem 0 0 3rem;
}


.btn_lecturaf {
    background: #17529C;
    color: #fff;
    border: 1px solid;
}

.espaciov {
    margin: 3rem 0;
    border: none;
}

.actividad-separador {
    background: linear-gradient(180deg, #e7eff7 0%, #fff 70%);

    /*background: url(../images/PCSP24-_separador-contenido.png) no-repeat center / 100%;*/
}

.inicio-act {
    background: url(../images/separador-seccion-actividad.png) no-repeat center / auto 100%;
    border-top: none;
    height: 6rem;
    width: 80%;
    margin: 1rem auto 0;
}

.bg-tab-content {
    margin-bottom: 0
}

.contenedor-botones {
    max-width: 66rem;
    margin: 0 auto 3rem;
}

.btn-modales {
    background: linear-gradient(90deg, rgba(129, 100, 158, 1) 50%, rgba(30, 69, 102, 1) 100%);
    color: #FFFFFF;
    padding: 1rem .5rem;
    border-radius: 4px;
    text-transform: none;
    width: 32%;
    border: .1rem solid transparent;
}

.contenedor-modales {
    width: 100%;
    max-width: 43rem;
    margin: 0 auto 3rem;
    display: flex;
    flex-wrap: wrap;
}

.fondo-degradado {
    margin-bottom: 3rem;
}

.btn-modales:hover {
    color: #1E4566;
    background: #fff;
    border: .1rem solid #1E4566;
}

.btn-image {
    background: transparent;
    border: none;
    width: 48%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-image img {
    width: 52%;
    margin-bottom: 1rem;
}

.btn-image .btn-modales {
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actividad-enc {
    background: #EDEDFC;
    color: #1E4566;
    border-bottom: 1px solid #1E4566;
    margin-bottom: 2rem;
    font-weight: bold;
    padding: .5rem 1rem .5rem 8rem;
    position: relative;
}

.actividad-enc div {
    display: flex;
    background: #1E4566;
    color: #fff;
    padding: .3rem 1rem;
    border-left: .6rem solid #FF811A;
    margin-right: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    align-items: center;
}

.enlace-icono {
    background: url(../images/modulo1/icono-descarga.png) no-repeat 0 / 1.5rem;
    padding-left: 2rem;
}

.enlace-iconoh {
    background: url(../images/modulo1/icono-hipervinculo.png) no-repeat 0 / 1.5rem;
    padding-left: 2rem;
}

.enlace-icono:focus-visible,
.enlace-iconoh:focus-visible,
.btn-image:focus,
.btn-image:focus-visible {
    outline: none;
}

.imagen-ac1 {
    width: 100%;
    max-width: 26rem;
    margin: 0 auto 2rem;
}

.imagen-ac2 {
    width: 70%;
    margin: 0 auto 2rem;
}

.imagen-ac3 {
    width: 100%;
    margin: 2rem auto 0;
}

.text-rigth {
    text-align: right;
}

@media screen and (max-width: 1300px) {
    .titulo-principal-unit {
        top: 5rem
    }
}

@media screen and (max-width: 1199px) {
    .btn-modales {
        width: 48%
    }

    .titulo-principal-unit {
        top: 3rem
    }
}

@media screen and (max-width: 991px) {
    .titulo-principal-unit {
        top: 2rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .titulo-principal-unit {
        font-size: 6vw;
        top: 4rem;
        padding-left: 0;
    }

    .contenedor-modales {
        display: none !important;
    }

    .separador {
        background: url(../images/PCSP24-_separador-contenido-r.png) no-repeat center 0 / auto 80%;
        height: 2rem;
        margin: 2rem auto;
        width: 100%;
    }

    .subtitulo {
        font-size: 1.3rem;
        margin-bottom: 1rem
    }

    .fondo-degradado {
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem
    }

    .inicio-act {
        background: url(../images/separador-seccion-actividad-r.png) no-repeat center 0 / auto 80%;
        height: 4rem;
    }

    .caja {
        padding: 0rem;
    }

    .actividad-enc {
        padding: .5rem 1rem .5rem 7rem;
        margin: 2rem 0 1rem
    }

    .temario {
        margin: 1rem auto 2.5rem;
    }

    .titulos-encab {
        margin-bottom: 1rem;
    }

    .imagen-ac1 {
        margin: 1rem auto;
    }

    .imagen-ac2 {
        width: 100%
    }

    .fondo-movil {
        padding: 1rem;
        background: #EDEDFC;
        margin-bottom: 2.5rem
    }

    .btn-modales {
        width: 90%;
    }

    .fondo-lila {
        background: #EDEDFC;
        padding: 1rem;
        margin-bottom: 1rem
    }

    .contenedor_pestañas {
        margin-bottom: 2.5rem
    }

}

@media screen and (max-width: 767px) {
    .titulo-principal-unit {
        top: 3.5rem
    }
}

/*termina principal*/

/* Estilos swiper - slide */

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}

.swiper {
    width: 100%;
    height: 500px;
    box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.75);
    background: #fff;
}

.contenedor-botones-sw {
    background: #caebd4;
    background: linear-gradient(90deg, rgba(237, 237, 252, 1) 50%, rgba(250, 235, 221, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(237, 237, 252, 1) 50%, rgba(250, 235, 221, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(237, 237, 252, 1) 50%, rgba(250, 235, 221, 1) 100%);
    min-height: 13%;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.swiper-button-next,
.swiper-button-prev {
    bottom: 0;
    top: auto;
    position: relative;
    min-height: 2rem;
    width: 10rem;
    margin: 1rem auto;
    display: inline-block;
    height: auto;
    padding: 0.3rem;
}

.swiper-button-next {
    margin-left: 1rem;
}

.swiper-button-prev {
    margin-right: 1rem;
}

/*
@media screen and (max-width: 1340px) {
    .swiper {
        width: 80%;
        height: 600px;
    }
}*/

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 1.25em;
    font-weight: normal;
    height: 84%;
    padding: 2rem;
}


@media screen and (max-width: 1199px) {
    .swiper {

        height: 550px;
    }

    .swiper-slide {
        height: 85%
    }
}

@media screen and (max-width: 991px) {
    .swiper {
        height: 620px;
    }

    .swiper-slide {
        height: 87%
    }
}


.text-grey {
    font-weight: 700;
    position: absolute;
    bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
}

/*Modulo 2*/

.contenedor-grafico {
    background: url(../images/modulo2/PCSP24-M2.png) no-repeat center center / auto 12rem;
    width: 100%;
    max-width: 43rem;
    margin: 0 auto;
    position: relative;
    height: 19rem;
}

.btn-modales-gr {
    position: absolute;
    width: 26%;
    margin: 0;
}

.imagen-gr {
    position: absolute;
    width: 7rem;
}

#img-gr-1 {
    top: 34%;
    left: 0
}

#img-gr-2 {
    top: 0;
    right: 28%
}

#img-gr-3 {
    top: 62%;
    right: 28%
}

#btn-gr-1 {
    top: 40%;
    left: 19%;
}

#btn-gr-2 {
    top: 8%;
    right: 0;
}

#btn-gr-3 {
    top: 70%;
    right: 0;
}